<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @matter.image %>);">
    <div class="more">
      <span><%#= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
      <% if user_signed_in? && current_user.id == @matter.user_id %>
        <li>
          <%= link_to '編集', edit_matter_path(@matter.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', matter_path(@matter.id), method: :delete %>
        </li>
      <% end %>
      </ul>
    </div>
    <%= image_tag @matter.image.variant(resize: '600x340'), class: 'matter-image' if @matter.image.attached? %>
      <a>案件名：<%= @matter.name %></a>
      <p>目標￥<%= @matter.price %></p>
      <span class="explain">
        <%#= matter.explain %>
      </span>
  </div>
  <div>説明</div>
  <%= @matter.explain %>
  <div class="container">
    <% if current_user %>
    <%= render 'layouts/error_messages', model: @domation %>
      <%= form_with(model: [@matter, @donation], id: 'charge-form', class: 'card-form', local: true) do |form| %>
        <%= form.label :price,  "募金額" %>
        <%= form.text_field :price, placeholder: "例）300" %>
        <div class='form-wrap'>
    <%= form.label :number,  "カード番号" %>
    <%= form.text_field :number, class:"number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
  </div>
  <div class='form-wrap'>
    <%= form.label :cvc ,"ＣＶＣ" %>
    <%= form.text_field :cvc, class:"cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4" %>
  </div>
  <div class='form-wrap'>
    <p>有効期限</p>
    <div class='input-expiration-date-wrap'>
      <%= form.text_field :exp_month, class:"exp_month", placeholder:"例)3" %>
      <p>月</p>
      <%= form.text_field :exp_year, class:"exp_year", placeholder:"例)24" %>
      <p>年</p>
    </div>
  </div>
        <%= form.submit "支払う" %>
      <% end %>
    <% else %>
      <strong><p>※※※ 募金には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜募金履歴＞</h4>
      <% if @donations %>
      <% @sum = 0 %>
        <% @donations.each do |donation| %>

          <p>
            <strong><%= link_to donation.user.nickname, "/users/#{donation.user_id}" %>：</strong>
            <%= donation.price %>
          </p>
          <% @sum += donation.price %>
        <% end %>
      <% end %>
      <div>合計金額 <%= @sum %></div>
      達成度 <%= @sum * 100 / @matter.price %>%
    </div>
  </div>
</div>